*{
		
	margin:0;
	padding:0;
	
	
	
	
}

#contenedor
{
	width:1200px;
	height:1000px;	
	margin: 0.5em auto;
	padding: 0.5em;
	background:#3104B4;
	color: white;
	text-align: center;
}
#header
{
	height:15%;
	background:#FF8000;
	border-radius: 0.5em;
	margin: 1em;
	color: white;
	text-align: center;
}
#nav
{
	height:10%;
	background:#424242;
	border-radius: 1em;
	margin: 1em;
	color: white;
	text-align: center;
}
#contenido
{
	height:50%;
	margin: 0.5em;
	background:#8904B1;
}
#ari
{
	height:95%;
	width:60%;
	background:#424242;
	border-radius: 1em;
	float: left;
	margin: 0.5em;
	color: white;
	text-align: center;
}
section
{
	height:20%;
	width:95%;
	background:blue;	
	margin: 0.5em;
	border-radius: 1em;
	background:#04B404;
	color: blue;
	text-align: center;
	
}
#aside
{
	height:95%;
	width:25%;
	border-radius: 1em;
	float: right;
	margin: 0.5em;
	background:#FFFFFF;
	color: green;
	text-align: center;
	
}
#footer
{
	height:15%;
	background:#DBA901;
	border-radius: 1em;
	margin: 1em;
	color: white;
	text-align: center;
}
img
{
	height:100%;
	width:100%;
	
}
@media(orientation:landscape)
{
	body
	{
		background:blue;
	}
}
@media(orientation:portrait)
{
	body
	{
		background:green;
	}
}
